<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35592456630-ipl9g2nvvvtevgi3otu2us8l6e0g0le6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35592456630-ipl9g2nvvvtevgi3otu2us8l6e0g0le6</string>
	<key>API_KEY</key>
	<string>AIzaSyDaaIRJ1TZ32EA2axdNAotOq3mmQT9iMVE</string>
	<key>GCM_SENDER_ID</key>
	<string>35592456630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookshop.jo</string>
	<key>PROJECT_ID</key>
	<string>reader-s-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>reader-s-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35592456630:ios:8a677927225cd947795917</string>
</dict>
</plist>